<!--suppress XmlUnboundNsPrefix -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
        bootstrap="ut/bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertNoticesToExceptions="false"
>
    <testsuites>
        <testsuite name="unit">
            <file>ut/QueryTest.php</file>
            <directory>ut/Query</directory>
        </testsuite>
        <testsuite name="functional">
            <file>ut/ItemManagerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
